<?xml version="1.0" encoding="utf-8"?>
  <appSettings>
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="Microsoft.ServiceBus.SenderConnectionString" value="" />
    <add key="Microsoft.ServiceBus.ReaderConnectionString" value="" />
    <add key="Microsoft.IotHub.ConnectionString" value="" />
    <add key="Microsoft.IotHub.Name" value="" />
    <add key="Microsoft.ServiceBus.EventHubName" value="" />
    <add key="Microsoft.ServiceBus.ConsumerGroup" value="" />
    <add key="AzureStorage.AccountName" value="" />
    <add key="AzureStorage.Key" value="" />
    <add key="AzureStorage.ConnectionString" value="" />
  </appSettings>